In [2]:
import pandas as pd

In [3]:
order_products = pd.read_csv("data/instacart/order_products__prior.csv")
products = pd.read_csv("data/instacart/products.csv")
orders = pd.read_csv("data/instacart/orders.csv")
aisles = pd.read_csv("data/instacart/aisles.csv")

tab1=pd.merge(aisles,products,on=["aisle_id","aisle_id"])

In [4]:
tab1

,aisle_id,aisle,product_id,product_name,department_id
0,1,prepared soups salads,209,Italian Pasta Salad,20
1,1,prepared soups salads,554,Turkey Chili,20
2,1,prepared soups salads,886,Whole Grain Salad with Roasted Pecans & Mango ...,20
3,1,prepared soups salads,1600,Mediterranean Orzo Salad,20
4,1,prepared soups salads,2539,Original Potato Salad,20
...,...,...,...,...,...
49683,134,specialty wines champagnes,47713,Sparkling Rose,5
49684,134,specialty wines champagnes,48984,Dry Sherry,5
49685,134,specialty wines champagnes,49438,Dry Fino Sherry,5
49686,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5
49687,134,specialty wines champagnes,49661,Porto,5

In [5]:
tab2=pd.merge(tab1, order_products, on=["product_id", "product_id"])

In [6]:
tab2

,aisle_id,aisle,product_id,product_name,department_id,order_id,add_to_cart_order,reordered
0,1,prepared soups salads,209,Italian Pasta Salad,20,94246,5,0
1,1,prepared soups salads,209,Italian Pasta Salad,20,192465,2,1
2,1,prepared soups salads,209,Italian Pasta Salad,20,195206,18,1
3,1,prepared soups salads,209,Italian Pasta Salad,20,227717,1,1
4,1,prepared soups salads,209,Italian Pasta Salad,20,260072,13,0
...,...,...,...,...,...,...,...,...
32434484,134,specialty wines champagnes,49661,Porto,5,2238789,10,1
32434485,134,specialty wines champagnes,49661,Porto,5,2251344,5,1
32434486,134,specialty wines champagnes,49661,Porto,5,2616249,2,0
32434487,134,specialty wines champagnes,49661,Porto,5,2715237,1,0
32434488,134,specialty wines champagnes,49661,Porto,5,3263901,6,1

In [7]:
tab3 = pd.merge(tab2, orders, on=["order_id", "order_id"])

In [8]:
tab3

,aisle_id,aisle,product_id,product_name,department_id,order_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,prepared soups salads,209,Italian Pasta Salad,20,94246,5,0,114082,prior,26,0,20,1.0
1,1,prepared soups salads,22853,Pesto Pasta Salad,20,94246,4,0,114082,prior,26,0,20,1.0
2,4,instant foods,12087,Chicken Flavor Ramen Noodle Soup,9,94246,15,0,114082,prior,26,0,20,1.0
3,4,instant foods,47570,Original Flavor Macaroni & Cheese Dinner,9,94246,14,1,114082,prior,26,0,20,1.0
4,13,prepared meals,10089,Dolmas,20,94246,25,0,114082,prior,26,0,20,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,134,specialty wines champagnes,47713,Sparkling Rose,5,3014872,1,0,63218,prior,1,1,14,NaN
32434485,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5,34570,1,1,37901,prior,13,3,9,13.0
32434486,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5,250923,1,1,26431,prior,27,5,11,10.0
32434487,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5,1319402,1,1,26431,prior,34,2,14,7.0
32434488,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5,2298986,1,0,37901,prior,9,2,11,13.0

In [10]:
from sklearn.decomposition import PCA

In [ ]:
data=tab3[:10000]

transfer=PCA(n_components=0.95)

data_new=transfer.fit_transform(tab3)

In [ ]:
data_new

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
estimator=KMeans(n_cluster=3)
estimator.fit(data_new)

In [ ]:
y_predict=estimator.predict(data_new)

In [ ]:
y_predict[:300]